<!--&lt;!&ndash; Navigation &ndash;&gt;-->

<!--<nav class="navbar navbar-dark bg-dark fixed-top">-->
<!--<div class="container-fluid">-->

<!--<a class="navbar-brand" href="www.codeacademy.lt">CodeAcademy</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"-->
<!--aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" routerLink="/main"> Home</a>-->
<!--</li>-->

<!--<li class="nav-item active">-->
<!--<a  routerLink="/lists">Shopping lists</a>-->
<!--</li>-->

<!--<li class="nav-item active">-->
<!--<a  routerLink="/shareHistory">Share history</a>-->
<!--</li>-->

<!--<li class="nav-item active">-->
<!--<a routerLink="#">About</a>-->
<!--</li>-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" routerLink="#">Contact</a>-->

<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<span class="glyphicon glyphicon-user pull-right"></span></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li>-->
<!--<a href="#">Account Settings -->
<!--<span class="glyphicon glyphicon-cog pull-right"></span></a>-->
<!--</li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Favourites Snippets <span-->
<!--class="glyphicon glyphicon-heart pull-right"></span></a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="/logout" onclick="logOut()">Sign Out <span-->
<!--class="glyphicon glyphicon-log-out pull-right"></span></a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash; <script>-->
<!--function logOut() {-->
<!--$.getJSON("http://localhost:8081/auth/logout", function (json) {-->
<!--console.log("LOG OUT SUCCESS!!!");-->
<!--});-->
<!--sessionStorage.removeItem("listId");-->
<!--sessionStorage.removeItem("userId");-->
<!--}-->
<!--</script> &ndash;&gt;-->
<!--Double navigation-->
<!--Double navigation-->
<div class="container-fluid">
<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-inverse" [containerInside]="true">
    <logo>
      <a class="logo navbar-brand" href="#"><h1><strong>Shopping list</strong></h1></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/main"><h5><strong>Main</strong></h5></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/lists"><h5><strong>Shopping lists</strong></h5></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/shareHistory"><h5><strong>Shared lists</strong></h5></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><h5><strong>About</strong></h5></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right ">
        <li class="nav-item  waves-light dropdown " dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
            UserName
          </a>

          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
        <li>
          <a href="#">Account Settings
            <span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
        <li class="divider"></li>
        <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
        <li class="divider"></li>
        <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
        <li class="divider"></li>
        <li><a href="#">Favourites Snippets <span
          class="glyphicon glyphicon-heart pull-right"></span></a></li>
        <li class="divider"></li>
        <li><a href="/logout" onclick="logOut()">Sign Out <span
          class="glyphicon glyphicon-log-out pull-right"></span></a></li>
        </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>This Navbar isn't fixed</h2>
          <h5>When you scroll down it will disappear</h5>
          <br>
          <p>Full page intro with background image will be always displayed in full screen mode, regardless of
            device </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
</div>
