<div class="container-fluid">
  <app-headers></app-headers>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p id="test"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <table class="table  table-inverse"
             data-sort-name="name"
             style="height: 200px" style="width: 400px" id="tableLists">
        <h1>List Name</h1>
        <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#newList"
                style="margin-bottom: 10px">New List
        </button>
        <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="action" data-formatter="actionListFormatter" data-events="actionEvents">Action</th>
        </tr>
        </thead>
      </table>
      <table class="table  table-inverse"
             data-sort-name="name"
             style="height: 200px" style="width: 400px" id="sharedTableLists">
        <h1 class="my-4">Shared lists</h1>
        <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="action" data-formatter="actionListFormatter" data-events="actionEvents">Action</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="col-md-8">
    <h1>Product Items</h1>
    <div id="toolbar">
      <button id="addButton" class="btn btn-default" data-toggle="modal" data-target="#newItem"
              style="margin-bottom: 10px">Add item
      </button>
      <label id="listNameToDisplay"></label>
    </div>

    <table class="table  table-inverse"
           data-search="true"
           data-toolbar="#toolbar"
           data-sort-name="name"
           style="height: 200px" style="width: 400px" id="table">
      <thead>
      <tr>
        <th data-field="id">#</th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="amount" data-sortable="true">Amount</th>
        <th data-field="price" data-sortable="true">Price</th>
        <th data-field="action" data-formatter="actionItemFormatter" data-events="actionEvents">Action
        </th>
      </tr>
      </thead>
    </table>
    <h3 id="item-sum"></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">

        <div class="card">
          <div class="card-header">
            Display {{shoppingLists.length}} <b>Shopping lists(s)</b>
          </div>
          <div class="add-button" pull-xs-right>
            <button type="button" class="btn btn-success"
                    name="button" routerLink="/newShopList">+ Add list
            </button>
          </div>
          <div class="card-block">
            <table>
              <tr>
                <th>#id</th>
                <th>List name</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let list of shoppingLists">
                <td>{{list.id}}</td>
                <td>{{list.name}}</td>
                <td>{{list.userId}}</td>
                <td>
                  <button (click)="onDelete(list)" type="button" name="button">
                    Delete
                  </button>
                  <button [routerLink]="['edit', list.id]" type="button" name="button">
                    Edit
                  </button>

                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="row">
        <app-product-items></app-product-items>
      </div>
    </div>
    <div class="col-6">c</div>
  </div>
</div>


<router-outlet></router-outlet>



